<div class="form-container" fxFlexFill fxLayoutAlign="start "  fxLayout="column">
    <form nz-form [formGroup]="formationForm" id="ngForm" #detailForm="ngForm" (ngSubmit)="submitForm(formationForm.value) ">
      <div class="controles-container">
        <nz-form-item>
          <nz-form-label   [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="2" nzRequired>Group Name</nz-form-label>
          <nz-form-control  [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="" nzHasFeedback nzValidatingTip="Validating..."  [nzErrorTip]="groupNameErrorTpl">
            <input nz-input formControlName="groupName" placeholder="Enter the Group Name" type="text" nzSize="large" />
            <ng-template #groupNameErrorTpl let-control>
              <ng-container *ngIf="control.hasError('required')">Group Name is Required</ng-container>
              <ng-container *ngIf="control.hasError('duplicated')">The Name is redundant!</ng-container>
            </ng-template>
          </nz-form-control>
          <nz-form-label   [nzSm]="24" [nzMd]="24" [nzLg]="2"  nzRequired>Group Name</nz-form-label>
          <nz-form-control  [nzSm]="24" [nzMd]="24" [nzLg]="6" nzHasFeedback nzValidatingTip="Validating..."  [nzErrorTip]="groupNameErrorTpl">
            <input nz-input formControlName="groupName" placeholder="Enter the Group Name" type="text" nzSize="large" />
            <ng-template #groupNameErrorTpl let-control>
              <ng-container *ngIf="control.hasError('required')">Group Name is Required</ng-container>
              <ng-container *ngIf="control.hasError('duplicated')">The Name is redundant!</ng-container>
            </ng-template>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label  [nzSm]="24" [nzMd]="24" [nzLg]="6" nzRequired>Description</nz-form-label>
          <nz-form-control   [nzSm]="24" [nzMd]="24" [nzLg]="14" nzErrorTip="Please write something here!">
            <textarea formControlName="description" nz-input rows="2" placeholder="description of group"></textarea>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item  >
          <nz-form-label  [nzSm]="24" [nzMd]="24" [nzLg]="6" >Search</nz-form-label>
          <nz-form-control  [nzSm]="24" [nzMd]="24" [nzLg]="14" nzSearch>
              <input nz-input formControlName="search" placeholder="Search for Candidate"/>
          </nz-form-control>
        </nz-form-item>
  
      </div>
    </form>
