<nz-layout class="app-layout">
  <nz-sider class="menu-sidebar"
            nzCollapsible
            nzWidth="256px"
            nzBreakpoint="md"
            [(nzCollapsed)]="isCollapsed"
            [nzTrigger]="null">
    <div class="sidebar-logo">
      <a href="https://ng.ant.design/" target="_blank">
        <img src="https://www.norsys.fr/sites/all/themes/custom/norsys/logo.png?v=2" alt="logo">
        <h1>IBDAA</h1>
      </a>
    </div>
    <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
      <li nz-submenu nzOpen nzTitle="Formation" nzIcon="form">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a [routerLink]="'formations/view'" (click)="sec('Formations')">Formations</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a [routerLink]="'formations/create'" (click)="manage()" >Manage</a>
          </li>
        </ul>
      </li>
      <li nz-submenu nzOpen nzTitle="Group" nzIcon="team">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a [routerLink]="'groups'" (click)="sec('Groups')">Groups</a>
          </li>
        </ul>
      </li>
  </ul>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <div class="app-header">
        <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
            <i class="trigger"
               nz-icon
               [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
            ></i>
        </span>
        <a class="hold" (click)="logOut()"><i class="log" nz-icon nzType="logout" nzTheme="outline"></i></a>
      </div>
    </nz-header>
    <nz-page-header class="site-page-header" [nzTitle]="Title">
      <nz-breadcrumb nz-page-header-breadcrumb>
        <nz-breadcrumb-item>dashboard</nz-breadcrumb-item>
        <nz-breadcrumb-item>
          {{seco}}
        </nz-breadcrumb-item>
        <nz-breadcrumb-item *ngIf="third">Manage</nz-breadcrumb-item>
      </nz-breadcrumb>
    </nz-page-header>
    <nz-content>
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>

